.side-bar
  .header
    %h1.header__name 
      = current_user.name
    %ul.header__lists
      %li.list
        = link_to '#' do
          = icon('fas', 'edit',class: 'icon')
      %li.list
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog',class: 'icon')
  
  .groups
    .group
      %h2.group__name
        name2
      %h3.group__message
        name3
